<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>getAllDepartements</servlet-name>
  	<display-name>getAllDepartements</display-name>
  	<description></description>
  	<servlet-class>com.example.web.controller.getAllDepartements</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getAllFilieres</servlet-name>
  	<display-name>getAllFilieres</display-name>
  	<description></description>
  	<servlet-class>com.example.web.controller.getAllFilieres</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getAllEtudiants</servlet-name>
  	<display-name>getAllEtudiants</display-name>
  	<description></description>
  	<servlet-class>com.example.web.controller.getAllEtudiants</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertDepartement</servlet-name>
  	<display-name>insertDepartement</display-name>
  	<description></description>
  	<servlet-class>com.example.web.controller.insertDepartement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertFiliere</servlet-name>
  	<display-name>insertFiliere</display-name>
  	<description></description>
  	<servlet-class>com.example.web.controller.insertFiliere</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertEtudiant</servlet-name>
  	<display-name>insertEtudiant</display-name>
  	<description></description>
  	<servlet-class>com.example.web.controller.insertEtudiant</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>rechercheEtudiant</servlet-name>
  	<display-name>rechercheEtudiant</display-name>
  	<description></description>
  	<servlet-class>com.example.web.controller.rechercheEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getAllDepartements</servlet-name>
  	<url-pattern>/getAllDepartements</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getAllFilieres</servlet-name>
  	<url-pattern>/getAllFilieres</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getAllEtudiants</servlet-name>
  	<url-pattern>/getAllEtudiants</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertDepartement</servlet-name>
  	<url-pattern>/insertDepartement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertFiliere</servlet-name>
  	<url-pattern>/insertFiliere</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertEtudiant</servlet-name>
  	<url-pattern>/insertEtudiant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rechercheEtudiant</servlet-name>
  	<url-pattern>/rechercheEtudiant</url-pattern>
  </servlet-mapping>
  
</web-app>
